

.border1{
	height:530px;
	width:300px;
	background: linear-gradient(to top, #0066ff -40%, #ccffff 150%);
	border-radius:25px;
	box-shadow:0 0 25px gray, 0 0 5px green;
}
.border2{
	height:520px;
	width:290px;
	background-color:black;
	border-radius:20px;
	position:absolute;
	margin:5px;
}

.card-3{
	height:508px;
	width:278px;
	background-image:url(bg.jpg);
	border-radius:15px;
	margin:6px;
	background-position:center;
}

.bezel{
	background-color:black;
	height:18px;
	width:150px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	margin:0 64px;
}

.earpiece {
	height:6px;
	width:60px;
	background:linear-gradient(to right, black, gray,black);
	border-radius: 2px;
	position:absolute;
	margin:2px 45px;
}

.camera{
	position:absolute;
	height:15px;
	width:15px;
	background: radial-gradient(gray,black,gray);
	border-radius:15px;
	margin-left:120px;
	margin-top:-2px;
}

.time{
	position:absolute;
	font-family:sans-serif;
	margin-left:-50px;
	margin-top:2px;
}

.back{
	position:absolute;
	margin:-480px 350px;
}

.card-2{
	height:520px;
	width:290px;
	background: linear-gradient(to top, #0066ff -110%, #ccffff 100%);
	border-radius:20px;
	position:absolute;
	margin:5px;
}

.back-camera{
	position:absolute;
	height:100px;
	width:100px;
	background:radial-gradient( #ccffff  -100%, #0066ff 700%);
	border-radius:25px;
	margin-top:20px;
	margin-left:20px;
	shape-outside:
	
}

.bcam{
	position:absolute;
	height:30px;
	width:30px;
	background: radial-gradient(gray,black,gray);
	border-radius:30px;
	border:solid gray 3px;
	margin:10px;
}

.d{
	margin-top:55px;
}

.flash{
	height:19px;
	width: 19px;
	background:radial-gradient(circle, yellow -20%, #fff44f , white);
	border-radius:20px;
	margin-top:40px;
	margin-left:60px;
	border:solid #4997D0 1.5px;
}

span{
	position:absolute;
	font-size:60px;
	margin-top:-90px;
	margin-left:65px;
	color:darkgreen;
	text-shadow:0 0 25px gray, 0 0 5px green;

}

img{
	margin-top:180px;
	height:50px;
	width:50px;
}

.pwr {
	position:absolute;
	height:60px;
	width:4px;
	background-color:gray;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	margin-top:110px;
	margin-left:-4px;
}

.vol {
	position:absolute;
	margin-top:80px;
	margin-left:300px
}

.vol-up{
	height:40px;
	width: 4px;
	background-color: gray;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	margin-bottom:20px;
}

.vol-dn{
	height:40px;
	width: 4px;
	background-color: gray;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
}

.container{
	margin:auto;
	width:50%;
}

@media screen and (max-width:1440px){
	.container{
		width:50%;
	}
}

@media screen and (max-width:1024px){
	.container{
		width:65%;
	}
}

@media screen and (max-width:768px){
	.container{
		width:85%;
	}
}

@media screen and (max-width:425px){
	.container{
		width:100%;
	}
}